#! /usr/bin/env python

import re
from urllib import request


USER_AGENT = "curl/7.81.0"


def run():
    try:
        req = request.Request("https://wise.com/br/currency-converter/eur-to-brl-rate", headers={"User-Agent": USER_AGENT, "Accept": "*/*"})
        response = request.urlopen(req)
        data = response.read().decode()
        value = re.findall("<span class=\"text-success\">([^<]+)</span>", data)[0]
        print(f"{value}".replace(",", "."))
    except Exception:
        print("-")


if __name__ == "__main__":
    run()
