#! /usr/bin/env python

import datetime
import json
import sys
import time


def print_line(txt: str, end="\n"):
    sys.stdout.write(txt + end)
    sys.stdout.flush()


def print_dict(d: dict, end="\n"):
    print_line(json.dumps(d), end)


def print_header():
    print_dict({"version": 1})


def print_list_opener():
    print_line("[")


def set_date() -> dict[str, str]:
    full_date = datetime.datetime.now().isoformat(sep=" ", timespec="seconds")
    short_date = str(datetime.datetime.now().date())
    return {"full_text": full_date, "short_name": short_date}



def print_command_list():
    command_list = []
    command_list.append(set_date())
    print_line(json.dumps(command_list) + ",")


def main():
    print_header()
    print_list_opener()
    while True:
        print_command_list()
        time.sleep(1)


if __name__ == "__main__":
    main()
