exec dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP DISPLAY SWAYSOCK GDK_BACKEND
exec systemctl --user import-environment WAYLAND_DISPLAY XDG_CURRENT_DESKTOP DISPLAY SWAYSOCK
exec sh -c 'env | grep -E "WAYLAND_DISPLAY|XDG_CURRENT_DESKTOP|XDG_SESSION_TYPE" > /tmp/sway-env.log'

set $mod Mod4

font pango:monospace 8

floating_modifier $mod normal

default_border pixel 0
gaps inner 5

bindsym $mod+Return exec foot
bindsym $mod+Shift+q kill
bindsym $mod+d exec fuzzel
bindsym $mod+Shift+b exec dotfiles

# focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# layout
bindsym $mod+semicolon split h
bindsym $mod+v split v
bindsym $mod+f fullscreen toggle
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split
bindsym $mod+Shift+space floating toggle
bindsym $mod+space focus mode_toggle
bindsym $mod+a focus parent

# workspaces
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 10

# workspace-to-monitor assignment (docked)
workspace 1 output {{ config.monitors.docked_outputs[0].name }}
workspace 2 output {{ config.monitors.docked_outputs[0].name }}
workspace 3 output {{ config.monitors.docked_outputs[0].name }}
workspace 4 output {{ config.monitors.docked_outputs[0].name }}
workspace 5 output {{ config.monitors.docked_outputs[1].name }}
workspace 6 output {{ config.monitors.docked_outputs[1].name }}
workspace 7 output {{ config.monitors.docked_outputs[1].name }}
workspace 8 output {{ config.monitors.docked_outputs[2].name }}
workspace 9 output {{ config.monitors.docked_outputs[2].name }}
workspace 10 output {{ config.monitors.docked_outputs[2].name }}

# assign apps
assign [app_id="firefox"] workspace 1
assign [app_id="Signal"] workspace 8
assign [app_id="com.slack.Slack"] workspace 9
assign [app_id="Bitwarden"] workspace 9

# reload / exit
bindsym $mod+Shift+c reload
bindsym $mod+Shift+e exec swaynag -t warning -m 'Exit sway?' -B 'Yes' 'swaymsg exit'

mode "resize" {
    bindsym h resize shrink width 10px
    bindsym j resize grow height 10px
    bindsym k resize shrink height 10px
    bindsym l resize grow width 10px
    bindsym Left resize shrink width 10px
    bindsym Down resize grow height 10px
    bindsym Up resize shrink height 10px
    bindsym Right resize grow width 10px
    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $mod+r mode "resize"

set $Locker swaylock -f -c 000000
set $mode_system System (l) lock, (e) logout, (s) suspend, (h) hibernate, (r) reboot, (Shift+s) shutdown
mode "$mode_system" {
    bindsym l exec $Locker, mode "default"
    bindsym e exec swaymsg exit, mode "default"
    bindsym s exec $Locker && systemctl suspend, mode "default"
    bindsym h exec $Locker && systemctl hibernate, mode "default"
    bindsym r exec systemctl reboot, mode "default"
    bindsym Shift+s exec systemctl poweroff -i, mode "default"
    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $mod+Delete mode "$mode_system"

# keyboard
input type:touchpad {
    tap enabled
    natural_scroll disabled
    dwt enabled
}

input type:keyboard {
    xkb_layout us
    xkb_variant intl
    xkb_options ctrl:nocaps
}

# wallpaper
output * bg {{ config.background }} fill

# screenshot
bindsym Print exec grim ~/Pictures/$(date +%Y-%m-%d-%H-%M-%S).png
bindsym $mod+p exec grim -g "$(slurp)" ~/Pictures/$(date +%Y-%m-%d-%H-%M-%S).png

# audio
bindsym XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +5%
bindsym XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle

# brightness
bindsym XF86MonBrightnessUp exec brightnessctl s +5%
bindsym XF86MonBrightnessDown exec brightnessctl s 5%-

# media
bindsym XF86AudioPlay exec playerctl play
bindsym XF86AudioPause exec playerctl pause
bindsym XF86AudioNext exec playerctl next
bindsym XF86AudioPrev exec playerctl previous

bar {
    swaybar_command waybar
}

exec dotfiles

exec mako

exec_always pkill -x kanshi; exec kanshi

exec swayidle -w \
    timeout {{ config.screen_off_timeout }} 'swaymsg "output * dpms off"' \
    resume 'swaymsg "output * dpms on"'

exec systemctl --user start xdg-desktop-portal-wlr

xwayland enable
