{% set ns = namespace(primary_output=config.monitors.laptop_output) %}
{% for m in config.monitors.docked_outputs %}
{% if m.primary is defined and m.primary %}
{% set ns.primary_output = m.name %}
{% endif %}
{% endfor %}
{
    "layer": "top",
    "position": "top",
    "output": ["{{ config.monitors.laptop_output }}", "{{ ns.primary_output }}"],
    "modules-left": ["sway/workspaces", "sway/mode"],
    "modules-center": ["clock"],
    "modules-right": [
        "network#eth",
        "network#wlan",
        "battery",
        "cpu",
        "memory",
        "disk",
        "temperature",
        "pulseaudio",
        "custom/updates",
        "tray"
    ],
    "sway/workspaces": {
        "disable-scroll": true,
        "all-outputs": true
    },
    "sway/mode": {
        "format": "<span style=\"italic\">{}</span>"
    },
    "clock": {
        "format": "{:%Y-%m-%d %H:%M:%S}",
        "interval": 1,
        "tooltip": false
    },
    "network#wlan": {
        "interface": "{{ config.wlan_interface }}",
        "format-wifi": "wlan {essid}",
        "format-disconnected": "",
        "tooltip-format": "{ipaddr}",
        "on-click": "foot -e nmtui"
    },
    "network#eth": {
        "interface": "{{ config.eth_interface }}",
        "format-ethernet": "eth {ipaddr}",
        "format-disconnected": "",
        "tooltip": false
    },
    "battery": {
        "format": "bat {capacity}%",
        "format-charging": "bat +{capacity}%",
        "interval": 2,
        "states": {
            "critical": 15
        },
        "tooltip": false
    },
    "cpu": {
        "format": "cpu {usage}%",
        "interval": 3,
        "tooltip": false
    },
    "memory": {
        "format": "ram {percentage}%",
        "interval": 3,
        "tooltip": false
    },
    "disk": {
        "format": "disk {percentage_used}%",
        "interval": 30,
        "tooltip": false
    },
    "temperature": {
        "hwmon-path": "/sys/devices/platform/coretemp.0/hwmon/hwmon{{ config.hwmon }}/temp1_input",
        "format": "temp {temperatureC}°C",
        "interval": 3,
        "tooltip": false
    },
    "pulseaudio": {
        "format": "vol {volume}%",
        "format-muted": "vol muted",
        "on-click": "pactl set-sink-mute @DEFAULT_SINK@ toggle",
        "tooltip": false
    },
    "custom/updates": {
        "exec": "pacman -Qu 2>/dev/null | wc -l | xargs -I{} sh -c 'if [ {} -gt 0 ]; then echo \"pkg {}\"; fi'",
        "interval": 300,
        "tooltip": false
    },
    "tray": {
        "spacing": 8
    }
}
