{% set ns = namespace(primary_output=config.monitors.laptop_output) %}
{% for m in config.monitors.docked_outputs %}
{% if m.primary is defined and m.primary %}
{% set ns.primary_output = m.name %}
{% endif %}
{% endfor %}
{
    "layer": "top",
    "position": "top",
    "output": ["{{ config.monitors.laptop_output }}", "{{ ns.primary_output }}"],
    "modules-left": ["custom/os"],
    "modules-center": ["sway/workspaces", "sway/mode"],
    "modules-right": [
        "network#eth",
        "network#wlan",
        "battery",
        "cpu",
        "memory",
        "disk",
        "custom/weather",
{% if config.euro %}
        "custom/euro",
{% endif %}
        "temperature",
        "pulseaudio",
        "custom/updates",
        "tray",
        "clock"
    ],
    "custom/os": {
        "exec": "echo \"arch|$(uname -r)\"",
        "interval": "once",
        "tooltip": false
    },
    "sway/workspaces": {
        "disable-scroll": true,
        "all-outputs": true
    },
    "sway/mode": {
        "format": "<span color=\"#{{ config.colors.dim }}\">|</span> <span style=\"italic\">{}</span>"
    },
    "clock": {
        "format": "<span color=\"#{{ config.colors.dim }}\">|</span> {:%Y-%m-%d %H:%M:%S}",
        "interval": 1,
        "tooltip": false
    },
    "network#wlan": {
        "interface": "{{ config.wlan_interface }}",
        "format-wifi": "<span color=\"#{{ config.colors.dim }}\">|</span> wlan {essid}",
        "format-disconnected": "",
        "tooltip-format": "{ipaddr}",
        "on-click": "foot -e nmtui"
    },
    "network#eth": {
        "interface": "{{ config.eth_interface }}",
        "format-ethernet": "<span color=\"#{{ config.colors.dim }}\">|</span> eth {ipaddr}",
        "format-disconnected": "",
        "tooltip": false
    },
    "battery": {
        "format": "<span color=\"#{{ config.colors.dim }}\">|</span> bat {capacity}%",
        "format-charging": "<span color=\"#{{ config.colors.dim }}\">|</span> bat +{capacity}%",
        "interval": 2,
        "states": {
            "critical": 15
        },
        "tooltip": false
    },
    "cpu": {
        "format": "<span color=\"#{{ config.colors.dim }}\">|</span> cpu {usage}%",
        "interval": 3,
        "tooltip": false
    },
    "memory": {
        "format": "<span color=\"#{{ config.colors.dim }}\">|</span> ram {percentage}%",
        "interval": 3,
        "tooltip": false
    },
    "disk": {
        "format": "<span color=\"#{{ config.colors.dim }}\">|</span> disk {percentage_used}%",
        "interval": 30,
        "tooltip": false
    },
    "temperature": {
        "hwmon-path": "/sys/devices/platform/coretemp.0/hwmon/hwmon{{ config.hwmon }}/temp1_input",
        "format": "<span color=\"#{{ config.colors.dim }}\">|</span> temp {temperatureC}°C",
        "interval": 3,
        "tooltip": false
    },
    "pulseaudio": {
        "format": "<span color=\"#{{ config.colors.dim }}\">|</span> vol {volume}%",
        "format-muted": "<span color=\"#{{ config.colors.dim }}\">|</span> vol muted",
        "on-click": "pactl set-sink-mute @DEFAULT_SINK@ toggle",
        "tooltip": false
    },
    "custom/updates": {
        "exec": "pacman -Qu 2>/dev/null | wc -l | xargs -I{} sh -c 'if [ {} -gt 0 ]; then echo \"pkg {}\"; fi'",
        "format": "<span color=\"#{{ config.colors.dim }}\">|</span> {}",
        "interval": 300,
        "tooltip": false
    },
    "custom/weather": {
        "exec": "$HOME/.local/bin/weather",
        "format": "<span color=\"#{{ config.colors.dim }}\">|</span> {}",
        "interval": 900,
        "tooltip": false
    },
{% if config.euro %}
    "custom/euro": {
        "exec": "$HOME/.local/bin/euro",
        "format": "<span color=\"#{{ config.colors.dim }}\">|</span> {}",
        "interval": 300,
        "tooltip": false
    },
{% endif %}
    "tray": {
        "spacing": 8
    }
}
